* {
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1140px;
    width: 85%;
}
img {
    width: 120px;
    height: 130px;
}
table {
    width: 1000px;
}
.search, .select, .price {
    margin-bottom: 25px;
}